@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  border: solid 3px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app__bgImage {
  background: url('/tacos6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.65);
  background-blend-mode: overlay; 
}